@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/sfpro.ttf") format("truetype");
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

* {
    font-family: 'SF Pro Display';

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
}

button:hover {
    cursor: pointer;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.see-more {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}

.loader {
    top: 0;
    z-index: 999;
    position: fixed;
    height: 100vh;
    width: 200vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    transform: scale(1);
    transition: .6s ease background-color, .6s ease backdrop-filter;
}

.scroll-top {
    /* display: none; */
    text-align: center;
    vertical-align: 5px;
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #8d8d8d59;
    opacity: 0;
    transition: .6s ease opacity;
}

.scroll-top>img {
    vertical-align: -15px;
}

/* HEADER */





.header {
    height: fit-content;
    width: 200vh;
}

.header-row {
    /* display: inline-block; */
    margin-top: 15px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 830px 515px 430px;
    align-items: start;
}

@media (max-width: 1800px) {
    .header-row {
        grid-template-columns: 670px 535px 430px;
        ;
    }
}

@media (max-width: 1700px) {
    .header-row {
        grid-template-columns: 580px 535px 430px;
    }
}

@media (max-width: 1600px) {
    .header-row {
        grid-template-columns: 480px 535px 430px;
    }
}

@media (max-width: 1500px) {
    .header-row {
        grid-template-columns: 400px 535px 430px;
    }
}

@media (max-width: 1400px) {
    .header-row {
        grid-template-columns: 310px 535px 430px;
    }
}

@media (max-width: 1300px) {
    .header-row {
        grid-template-columns: 220px 535px 430px;
    }
}

@media (max-width: 1200px) {
    .header-row {
        grid-template-columns: 120px 535px 430px;
    }
}

@media (max-width: 1100px) {
    .header-row {
        grid-template-columns: 120px 455px 430px;
    }
}

.header-row>.col-2 {
    /* background-color: green; */
    margin-top: 10px;
}

.main-logo {
    filter: grayscale(100%);
}

.main-logo:hover {
    filter: grayscale(80%);
}

.nav-item {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
    text-decoration: none;

    transition: border-bottom 500ms;
    border-bottom: 1px solid transparent;
}

.nav-item:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header>.header-row>.absolute-gardient-2 {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 7%;
}

.nav-toggle {
    color: rgba(255, 255, 255, 0.9);
}

.nav-toggle:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.special-fancy-btn {
    height: 50px;
    width: 298px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(90deg, rgba(255, 8, 171, 0.4) 10%, rgba(226, 51, 254, 0.4) 32.81%, rgba(228, 79, 38, 0.4) 50.79%, rgba(252, 163, 38, 0.4) 80%, rgb(255, 8, 171, 0.4) 100%);
    border-radius: 58px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.special-fancy-btn:hover {
    background-size: 200% auto;
    animation: shine 3s linear infinite;
    /* background-image: linear-gradient(90deg, rgba(255, 8, 171, 0.8) 0%, rgba(226, 51, 254, 0.8) 10%, rgba(228, 79, 38, 0.8) 80%, rgba(252, 163, 38, 0.8) 100%); */
}





/* MAIN CONTENT */





.main-content>.right-img>.absolute-gardient-1 {
    position: absolute;
    z-index: -2;
    top: 20%;
    right: 7%;
}


.main-content>.right-img>.argood {
    position: absolute;
    z-index: -1;
    top: 40%;
    right: 18%;
    height: 320px;
    border-radius: 160px;
    filter: drop-shadow(13px 0px 0px rgba(0, 0, 0, 0.25));
    border: 1px solid rgba(0, 0, 0, 0.15);

    opacity: 0.1;
}

.main-content>.left {
    margin-top: 15%;
    margin-left: 10%;
}

.main-content>.left>.title>h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.main-content>.left>.title>h1>img {
    height: 60px;
}

.desc>.first-job {
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 55px;

    background: linear-gradient(45deg, #FF08AB, #FFC56F);
    background-size: 100% auto;

    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc>.stack {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

    color: rgba(255, 255, 255, 0.5);
}

.desc>.and {
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 55px;
    color: #FFFFFF;
}

.desc>.second-job {
    background-color: #fff;
    background-image: linear-gradient(190deg, rgba(255, 8, 171, 0.7), rgba(252, 163, 38, 0.7));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 55px;
}

.desc>.third-job {
    background-color: #fff;
    background-image: linear-gradient(245deg, #dc2dff, #fff93f);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 55px;
}


.desc>span:hover {
    background-size: 200% auto;
    animation: shine 1s linear infinite;
}

.action {
    margin-top: 30px;
}

.left>.action>.call-to-action {
    padding: 13px;
    height: 48px;
    width: 122px;
    background: #E2E2E2;
    border-radius: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.0043em;

    color: #000000;
    margin-right: 40px;
}

.left>.action>.call-to-action:hover {
    background: #f5f5f5;
}

.social {
    margin-left: 15px;
    vertical-align: middle;
    height: 33px;
    filter: grayscale(100%);
    transition: filter 1s;
}

.social:hover {
    filter: grayscale(0%);
    transition: filter 0.5s;
    cursor: pointer;
}

.main-content>.scroll-down {
    /* position: absolute; */
    z-index: -3;
    margin-top: 140px;
    margin-left: 770px;
    filter: invert(20%);
    height: 200px;
    animation-duration: 1s;
    animation-name: filtertransi;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (max-width: 1700px) {
    .main-content>.scroll-down {
        display: none;
    }

    .main-content {
        margin-bottom: 350px;
    }
}

@keyframes filtertransi {
    from {
        filter: invert(20%);
    }

    to {
        filter: invert(35%);
    }
}

.works {
    margin-bottom: 130px;
}

.works>.title {
    text-align: center;
}

.works>.title>h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 10px;
}

.works>.title>h2 {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: rgba(255, 255, 255, 0.4);
}

.works>.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}

.works>.projects>.card {
    margin-top: 50px;
    width: 480px;
    height: fit-content;
    margin-left: 20px;
    background: rgba(48, 49, 59, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 28px;
    padding: 10px;
}

.works>.projects>.card>.separator {
    border: 1px solid #404257;
    border-image-slice: 1;
}

.works>.projects>.card:hover>.separator {
    border-image-source: linear-gradient(245deg, #dc2dff, #fff93f);
}


.works>.projects>.card>.project-date {
    position: absolute;
    top: -5px;
    margin-left: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.works>.projects>.card>.project-name {
    position: absolute;
    top: 13px;
    margin-left: 70px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
}


.works>.projects>.card>.project-info {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.works>.projects>.card>.card-footer {
    margin: 10px;
    margin-bottom: 2px;
    text-align: right;
    filter: grayscale(100%);
}

.works>.projects>.card:hover>.card-footer {
    filter: grayscale(30%);
    transition: filter 0.5s linear;
}

.works>.projects>.card>.card-footer>.project-stack {
    margin-left: 5px;
}

.absolute-gardient-3 {
    position: absolute;
    z-index: -1;
    top: auto;
    left: -430px;
}

.projects>.transparent {
    background: rgba(48, 49, 59, 0) !important;
    backdrop-filter: blur(0px) !important;
    text-align: right;
}

.card>.later {
    height: 205px;
}

.wip {
    text-align: center;
    margin-top: 200px;
}

.wip>h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 76px;

    color: #FFFFFF;

    margin-bottom: 0;
}

.wip>h2 {
    margin-bottom: 150px;
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;

    color: rgba(255, 255, 255, 0.5);
}

.wip>.absolute-gardient-4 {
    margin-top: -200px;
    position: absolute;
    z-index: -1;
    right: -430px;
    transform: rotateZ(180deg);
}

.footer {
    margin-top: 90px;
    height: 20px;
    width: 100%;
    background-color: #2222227c;
    backdrop-filter: blur(30px);
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #FF08AB 0%, #FF08AB 27.6%, #FF7B7B 47.92%, #FCA326 71.88%, #FFE400 100%);
    text-align: center;
    padding-top: 10px;
}

.footer>span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;

    color: #FFFFFF;

    opacity: 0.7;
}

.about {
    margin-bottom: 130px;
}

.about>.absolute-gardient-5 {
    position: absolute;
    z-index: -2;
    top: auto;
    right: 0%;
    width: 601.54px;
    height: 640.6px;
}

.about>.armoji {
    position: absolute;
    z-index: -1;
    top: auto;
    margin-top: 100px;
    right: 4%;
    height: 320px;
    border-radius: 160px;
    filter: drop-shadow(13px 0px 0px rgba(0, 0, 0, 0.25));
    border: 1px solid rgba(0, 0, 0, 0.15);

    opacity: 0.1;
}

.about>.title {
    text-align: center;
}

.about>.title>h1 {
    margin-top: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 10px;
}

.about>.title>h2 {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: rgba(255, 255, 255, 0.4);
}

.about>p {
    margin-left: 150px;
    margin-top: 150px;
    /* width: 749px; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .about>.armoji {
        display: none;
    }
}

@media (max-width: 800px) {
    .about>.absolute-gardient-5 {
        width: 471.54px;
        height: 400.6px;
    }
}

.contact>.absolute-gardient-6 {
    position: absolute;
    z-index: -2;
    top: auto;
    margin-top: 200px;

    left: 0%;
    width: 601.54px;
    height: 640.6px;
}

.contact>.armoji {
    position: absolute;
    z-index: -1;
    top: auto;
    margin-top: 290px;
    left: 1%;
    height: 320px;
    border-radius: 150px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    filter: drop-shadow(13px 0px 0px rgba(0, 0, 0, 0.25));

    opacity: 0.8;
}

.contact>.title {
    text-align: center;
}

.contact>.title>h1 {
    margin-top: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 86px;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 10px;
}

.contact>.title>h2 {
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: rgba(255, 255, 255, 0.4);
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.contact>.form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 0.2fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* position: absolute;
    margin-top: 130px;
    right: 15%; */
}

.form>.bg {
    margin: -20px;
    border-radius: 15px;
    z-index: -1;
    grid-column: 5;
    grid-row: 5/8;
    background-color: rgba(48, 49, 59, 0.5);
}

.form>.col-1 {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    /* margin-top: 30px; */
}

.form>.col-2 {
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    /* margin-top: 30px; */
}

.form>.col-3 {
    grid-column: 5 / 6;
    grid-row: 7 / 8;
    /* margin-top: 30px; */
}

.contact-input {
    /* margin-right: 30px; */
    width: 375px;
    height: 44px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #404257;
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.5);
}

#contact-textarea {
    resize: none;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #404257;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.5);
}

.contact-input:focus {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #FF08AB 0%, #FF08AB 27.6%, #FF7B7B 47.92%, #FCA326 71.88%, #FFE400 100%);
}

#contact-textarea:focus {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #FF08AB 0%, #FF08AB 27.6%, #FF7B7B 47.92%, #FCA326 71.88%, #FFE400 100%);
}

.fancy-submit-button {
    width: 375px;
    height: 44px;
    background-image: linear-gradient(90deg, #FF08AB 10%, #E233FE 32.81%, #E44F26 50.79%, #FCA326 80%, #FF08AB 100%);
    border-radius: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    opacity: 0.8;
    color: #FFFFFF;
}

.fancy-submit-button:hover {
    background-size: 200% auto;
    animation: shine 3s linear infinite;
    /* background-image: linear-gradient(90deg, rgba(255, 8, 171, 0.8) 0%, rgba(226, 51, 254, 0.8) 10%, rgba(228, 79, 38, 0.8) 80%, rgba(252, 163, 38, 0.8) 100%); */
}

@media (max-width: 1150px) {
    .contact>.armoji {
        display: none;
    }

    .contact>.absolute-gardient-6 {
        width: 401.54px;
        height: 470.6px;
    }

    .contact>.form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 0.2fr);
        grid-gap: 10px;
    }

    .form>.bg {
        grid-column: 2;
        grid-row: 5/8;
    }

    .form>.col-1 {
        grid-column: 2;
        grid-row: 5 / 6;
    }

    .form>.col-2 {
        grid-column: 2;
        grid-row: 6 / 7;
    }

    .form>.col-3 {
        grid-column: 2;
        grid-row: 7 / 8;
    }
}

@media (max-width: 800px) {
    .contact>.form {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        background-color: rgba(48, 49, 59, 0.5);
        text-align: center;

        /* border: 2px solid;
        border-image-slice: 1;  
        border-image-source: linear-gradient(90deg, #FF08AB 0%, #FF08AB 27.6%, #FF7B7B 47.92%, #FCA326 71.88%, #FFE400 100%); */

    }

    #contact-textarea {
        margin: 0px;
        width: 90%;
        margin-left: 10px !important;
    }

    .contact-input {
        margin: 10px;
        width: 90%;
        margin-left: 10px !important;
    }

    .fancy-submit-button {
        margin: 10px;
        width: 92%;
        margin-left: 10px !important;
    }

    .form>.bg {
        display: none;
    }

    .form>.col-1 {
        display: flex;
        flex-direction: column;
    }

    .form>.col-2 {
        display: flex;
        flex-direction: column;
    }

    .form>.col-3 {
        display: flex;
        flex-direction: column;
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@media (max-width: 1000px) {
    .about>p {
        text-align: center;
        margin-left: 0;
    }

    .header-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .main-logo {
        display: none;
    }

    .special-fancy-btn {
        margin-top: 20px;
        margin-left: 60px;
    }

    .main-content>.right-img>.argood {
        top: 65%;
    }

    .main-content>.right-img>.absolute-gardient-1 {
        top: 50%;
        right: 0;
        left: -35%;
    }

    .soon {
        margin-left: -100px;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width: 360px) {
    .header-row {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 100px;
        /* margin-left: -15px; */
    }

    .special-fancy-btn {
        margin-top: 20px;
        margin-left: 25px;
    }

    .nav-item {
        margin-left: 10px;
    }

    .main-logo {
        display: none;
    }

    .main-content>.right-img>.argood {
        display: none;
    }

    .soon {
        margin-left: -130px;
    }

    .scroll-down {
        display: none;
    }

    .project-name {
        font-size: 18px !important;
        line-height: 36px !important;
    }

    .project-date {
        font-size: 14px !important;
        line-height: 35px !important;
    }

    .social {
        margin-left: 5px !important;
    }

    .call-to-action {
        margin-right: 20px !important;
    }
}

.tooltip-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.tooltip {
    opacity: 0;
    z-index: 99;
    color: #bbb;
    width: 80px;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    background: rgba(51, 51, 51, 0.9);
    border: 1px solid rgb(161 108 91);
    box-shadow: 0 0 3px rgb(223 84 120);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    right: -34.5px;
    bottom: 40px;
}

.tooltip:before,
.tooltip:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(51, 51, 51, 0.9);
    position: absolute;
    bottom: -10px;
    left: 43%;
}

.tooltip-container:hover .tooltip,
a:hover .tooltip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}